// Colors
$color-light: #FFFFFF;
$color-dark: #060614;
$color-black: #060612;
$color-text-gray: #858FA4;
$color-dark-gray: #60606E;
$color-accent-gray: #454A5C;
$color-gray: #909CB5;
$color-light-gray: #F1F2F8;
$color-accent: #2034E9;
$color-dark-blue: #004072;
$color-green: #42AB44;
$color-red: #BB2525;
$color-blue: #1A599A;

// Fonts
$font-main: 'Roboto', sans-serif;
$font-accent: 'PFDinTextCompPro', sans-serif;

// Width
$laptop: 1439.9;
$laptop-min: 1199.9;
$tablet: 1023.9;
$mobile: 767.9;
$mobileSmall: 424.9;
