<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--gray">
  <%= htmlWebpackPlugin.options.breadcrumbs %>
  <section class="section pb-100">
    <div class="container">
      <h1 class="title mb-25">О компании</h1>
      <div class="columns">
        <div class="columns__col--4 columns__col-mob--12">
          <div class="info-block__heading">
            <div class="info-block__subtitle">
              <p>Технологическое присоединение – комплексная услуга, оказываемая сетевыми компаниями юридическим и
                физическим лицам для выдачи электрической мощности.</p>
              <p>Предусматривающая фактическое присоединение энергопринимающих устройств (энергетических установок)
                потребителей к объектам электросетевого хозяйства.</p>
            </div>
          </div>
        </div>
        <div class="columns__col--6 columns__col-tab--8 columns__col-mob--12">
          <div class="info-block__content">
            <p>Группа «Россети» – один из крупнейших в мире электросетевых холдингов, обеспечивающий электроснабжение
              потребителей в 82 регионах России. В управлении находятся 2,47 млн км линий электропередачи и
              электрические подстанции общей мощностью 835 тыс. МВА. По сетям Группы «Россети» передается более 77% всей
              вырабатываемой в стране электроэнергии.<br>
              <br>
              В состав Группы входят 43 дочерних и зависимых общества, в том числе 16 распределительных сетевых
              компаний. Общая численность персонала составляет порядка 230 тыс. человек.<br>
              <br>
              Контролирующим акционером материнской компании – ПАО «Россети» – является государство в лице Федерального
              агентства по управлению государственным имуществом.</p>
            <hr>
          </div>
          <div class="stats">
            <div class="stats__item">
              <h2 class="stats__title" style="color: #038F83">
                82<span>региона РФ</span>
              </h2>
              <p class="stats__text">география деятельности</p>
            </div>
            <div class="stats__item">
              <h2 class="stats__title" style="color: #3B53B4">
                2,47<span>млн км</span>
              </h2>
              <p class="stats__text">протяженность линий электропередачи</p>
            </div>
            <div class="stats__item">
              <h2 class="stats__title" style="color: #108DC5">
                835<span>ГВА</span>
              </h2>
              <p class="stats__text">трансформаторная мощность</p>
            </div>
            <div class="stats__item">
              <h2 class="stats__title" style="color: #1A88E5">
                560<span>тыс.</span>
              </h2>
              <p class="stats__text">подстанция и трансформаторных подстанций</p>
            </div>
            <div class="stats__item">
              <h2 class="stats__title" style="color: #3D4FB1">
                230<span>тыс.</span>
              </h2>
              <p class="stats__text">сотрудников</p>
            </div>
            <div class="stats__item">
              <h2 class="stats__title" style="color: #2034E9">
                77%
              </h2>
              <p class="stats__text">вырабатываемой в РФ электроэнергии передается по нашим сетям</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--accent pt-100 pb-80">
    <div class="container">
      <h2 class="title title--light mb-60">История компании</h2>
      <div class="history">
        <div class="slider slider--history mb-40" data-slider data-loop data-slider-slides="4">
          <div class="swiper slider--overflow">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="article-history">
                    <div class="article-history__header">
                      <picture class="article-history__picture">
                        <img src="https://placehold.co/600x400" alt="">
                      </picture>
                      <div class="article-history__label">2001 год</div>
                    </div>
                    <div class="article-history__content">
                      <p class="article-history__text">
                        Группа «Россети» – один из крупнейших
                        в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                        <br>
                        В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2002 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                  <div class="article-history">
                <div class="article-history__header">
                  <picture class="article-history__picture">
                    <img src="https://placehold.co/600x400" alt="">
                  </picture>
                  <div class="article-history__label">2008 год</div>
                </div>
                <div class="article-history__content">
                  <p class="article-history__text">
                    Группа «Россети» – один из крупнейших
                    в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                    <br>
                    В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                  </p>
                </div>
              </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2013 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2020 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2021 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2022 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="article-history">
                  <div class="article-history__header">
                    <picture class="article-history__picture">
                      <img src="https://placehold.co/600x400" alt="">
                    </picture>
                    <div class="article-history__label">2023 год</div>
                  </div>
                  <div class="article-history__content">
                    <p class="article-history__text">
                      Группа «Россети» – один из крупнейших
                      в мире электросетевых холдингов, обеспечивающий электроснабжение потребителей в 82 регионах России.<br>
                      <br>
                      В управлении находятся 2,47 млн км линий электропередачи и электрические подстанции общей мощностью 835 тыс.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline">
          <p class="timeline__item"><span>2001</span></p>
          <p class="timeline__item"><span>2002</span></p>
          <p class="timeline__item"><span>2008</span></p>
          <p class="timeline__item"><span>2013</span></p>
          <p class="timeline__item"><span>2020</span></p>
          <p class="timeline__item"><span>2021</span></p>
          <p class="timeline__item"><span>2022</span></p>
          <p class="timeline__item"><span>2023</span></p>
        </div>
      </div>
    </div>
    <div class="pattern">
      <img src="./assets/images/pattern.png" alt="">
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>