<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--gray">
  <%= htmlWebpackPlugin.options.breadcrumbs %>
  <section class="section mb-70">
    <div class="container">
      <div class="page-intro">
        <picture class="page-intro__pic">
          <img src="./assets/images/page-intro-bg.jpg" alt="">
        </picture>
        <div class="page-intro__content">
          <h1 class="page-intro__title title title--light">Выдача документации</h1>
          <p class="page-intro__text">Минимизация процесса получения специальной документации, а так же процесса
            согласования является одним из приоритетов группы компаний “Россети”. Мы помогаем своим клиентам
            минимизировать бюрократические процессы. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-120">
    <div class="container">
      <h1 class="title mb-25">Выдача документации</h1>
      <p class="subtitle mb-40">
        Мы поможем вам выполнить данные работы легко и просто. Группа компаний “Россети”<br> обладает большим опытом
        работы,
        имеет квалифицированных специалистов, а так же<br>собственную технику для выполнения всех видов работ.
      </p>
      <div class="tabs tabs-about" data-tabs-container="services">
        <div class="tabs__controls tabs-about__controls">
          <button class="tabs__trigger tabs-about__trigger active" data-tabs-trigger="services" data-tabs="about-1">
            <span class="tabs-about__trigger-text">Разработка проектной документации</span>
          </button>
          <button class="tabs__trigger tabs-about__trigger" data-tabs-trigger="services" data-tabs="about-2">
            <span class="tabs-about__trigger-text">Инженерные изыскания</span>
          </button>
          <button class="tabs__trigger tabs-about__trigger" data-tabs-trigger="services" data-tabs="about-3">
            <span class="tabs-about__trigger-text">Согласования пересечения или сближения</span>
          </button>
          <button class="tabs__trigger tabs-about__trigger" data-tabs-trigger="services" data-tabs="about-4">
            <span class="tabs-about__trigger-text">Выдача дубликатов документов</span>
          </button>
        </div>
        <div class="tabs__list">
          <div class="tabs__item active" data-tabs-list="services" id="about-1">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Технологическое присоединение под ключ</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" data-tabs-list="services" id="about-2">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Аренда техники</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" data-tabs-list="services" id="about-3">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Обслуживание электрооборудования</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" data-tabs-list="services" id="about-4">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Наружное освещение</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" data-tabs-list="services" id="about-5">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Выдача документации</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" data-tabs-list="services" id="about-6">
            <div class="tabs-about__item">
              <div class="tabs-about__card">
                <div class="tabs-about__card-inner">
                  <div class="tabs-about__card-title">Заголовок. Строительство линий</div>
                  <div class="tabs-about__card-text">
                    <p>Услуга по выполнению мероприятий, включенных в технические условия договора технологического
                      присоединения со стороны потребителя.</p>
                    <p>Условия договора технологического присоединения со стороны потребителя</p>
                  </div>
                  <a href="#" class="button tabs-about__card-link">Подробнее</a>

                </div>
              </div>
              <div class="slider" data-slider data-slider-fade data-slider-slides="1" data-slider-slides-tab="1"
                   data-swiper-autoplay="2000">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-trees.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/about-pic.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tabs-about__item-slide">
                        <img src="./assets/images/bg-houses.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="slider__pagination" data-slider-pagination></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
