<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--gray">
  <%= htmlWebpackPlugin.options.breadcrumbs %>
  <section class="section mb-70">
    <div class="container">
      <div class="page-intro">
        <picture class="page-intro__pic">
          <img src="./assets/images/page-intro-bg.jpg" alt="">
        </picture>
        <div class="page-intro__content">
          <h1 class="page-intro__title title title--light">Обслуживание и испытание<br> электрооборудования</h1>
          <p class="page-intro__text">Мы поможем вам выполнитьданные работы легко и просто. Группа компаний “Россети”
            обладает большим опытом работы, имеет квалифицированных специалистов, а так же собственную технику для
            выполнения всех видов работ. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-120">
    <div class="container">
      <div class="columns columns--gap">
       <div class="columns__col columns__col--4">
         <article class="article-service article-service--start">
           <div class="article-service__info">
             <h3 class="article-service__title">Допуск</h3>
             <p class="article-service__text">
               Согласно закона № 19087654 от 2023 года, проверка работоспособности оборудования не реже чем 1 раз в год.
             </p>
             <p class="article-service__text">
               Проверку может осуществлять только специализированная организация имеющая все необходимые допуски
             </p>
             <button class="button article-service__button">Оформить заявку</button>
           </div>
           <picture class="article-service__picture">
             <img src="./assets/images/service-1.png" alt="">
           </picture>
         </article>
       </div>
        <div class="columns__col columns__col--4">
          <article class="article-service article-service--middle">
            <div class="article-service__info">
              <h3 class="article-service__title">Допуск</h3>
              <p class="article-service__text">
                Согласно закона № 19087654 от 2023 года, проверка работоспособности оборудования не реже чем 1 раз в год.
              </p>
              <p class="article-service__text">
                Проверку может осуществлять только специализированная организация имеющая все необходимые допуски
              </p>
              <button class="button article-service__button">Оформить заявку</button>
            </div>
            <picture class="article-service__picture">
              <img src="./assets/images/service-1.png" alt="">
            </picture>
          </article>
        </div>
        <div class="columns__col columns__col--4">
          <article class="article-service article-service--end">
            <div class="article-service__info">
              <h3 class="article-service__title">Допуск</h3>
              <p class="article-service__text">
                Согласно закона № 19087654 от 2023 года, проверка работоспособности оборудования не реже чем 1 раз в год.
              </p>
              <p class="article-service__text">
                Проверку может осуществлять только специализированная организация имеющая все необходимые допуски
              </p>
              <button class="button article-service__button">Оформить заявку</button>
            </div>
            <picture class="article-service__picture">
              <img src="./assets/images/service-1.png" alt="">
            </picture>
          </article>
        </div>
        <div class="columns__col columns__col--4">
          <article class="article-service article-service--start">
            <div class="article-service__info">
              <h3 class="article-service__title">Допуск</h3>
              <p class="article-service__text">
                Согласно закона № 19087654 от 2023 года, проверка работоспособности оборудования не реже чем 1 раз в год.
              </p>
              <p class="article-service__text">
                Проверку может осуществлять только специализированная организация имеющая все необходимые допуски
              </p>
              <button class="button article-service__button">Оформить заявку</button>
            </div>
            <picture class="article-service__picture">
              <img src="./assets/images/service-1.png" alt="">
            </picture>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
