.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-blue;
  color: #FFFFFF;
  font-family: $font-accent;
  z-index: 11;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    padding: rem(24) 0;
    border-bottom: 1px solid rgba($color-light, 0.15);
  }

  &__top-block {
    gap: rem(18);
  }

  &__top-left {
    gap: rem(30);
  }

  &__divider {
    display: block;
    width: 2px;
    height: rem(30);
    background-color: rgba($color-light, 0.15);
    margin: 0 rem(20);
    border-radius: 1px;
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(14);
    padding: rem(8) rem(14);
    color: $color-accent;
    font-size: rem(18);
    background-color: rgba(#FFFFFF, .15);
    border-radius: 8px;
    cursor: pointer;
  }

  &__login-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $color-light;
  }

  &__login-icon {
    display: flex;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-light;
    }
  }

  &__bottom {
    padding: rem(14) 0;
  }

  &__bottom-left {
    gap: rem(31);
  }

  &__menu-button {
    position: relative;
    &.active {
      &:before {
        content: '';
        position: absolute;
        top: calc(100% + 13px);
        left: 50%;
        display: block;
        width: rem(14);
        height: rem(14);
        background-color: #FFFFFF;
        transform: rotate(45deg) translateX(-50%);
      }
    }
    svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &__menu-container {
    display: block;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    z-index: 10;
    width: 100vw;
    transition: left .4s ease-in-out, opacity .2s ease-in-out;

    &.active {
      opacity: 1;
      left: 0;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    height: rem(40);
  }

  &__search-button {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: rem(30);
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background-color: rgba($color-light, 0.15);
      border-radius: 1px;
    }

    svg {
      max-width: rem(22);
      height: rem(20);
      fill: rgba($color-light, 0.7);
    }
  }

  &__search-form {
    margin-left: rem(15);
  }
}
