.input {
  display: flex;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #E4E4E5;
  background: #F1F2F2;
  color: #C8C8C8;
  cursor: auto;

  &__title {
  }

  &__field {
    &::placeholder {
    }
  }

  &--error {
  }

  &--valid {
  }
}
