.nav {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $color-light;
    border-radius: 4px;
    background-color: transparent;

    &.active {
      background-color: rgba($color-light, 0.1);
    }

    transition: all .3s ease-in-out;

    &:hover {
      color: $color-gray;
    }
  }

  &--header {
    display: flex;
    align-items: center;
    gap: rem(30);
  }
}
