.price {
  display: flex;
  align-items: baseline;
  gap: 10px;

  &__text {
    color: $color-dark;
    font-size: 30px;
    font-weight: 700;

    &--old {
      color: $color-text-gray;
      font-size: 18px;
      line-height: 135.938%;
      text-decoration-line: line-through;
    }
  }
}
