.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 39px;

  &__item {
    min-height: 200px;

    @include r($mobile) {
      min-height: auto;
    }
  }

  &__title {
    display: flex;
    align-items: baseline;
    gap: 12px;
    font-family: $font-accent;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $color-blue;

    @include r($mobile) {
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
    }

    span {
      font-size: 18px;

      @include r($mobile) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__text {
    color: $color-dark-gray;
    line-height: 150%;
  }
}
