.title {
  font-size: 64px;
  font-family: $font-accent;
  color: $color-dark;
  font-weight: 500;
  line-height: normal;

  @include r($mobile) {
    font-size: 30px;
  }

  &--light {
    color: #FFFFFF;
  }
  &--min {
    font-size: calc(30px + 10 * ((100vw - 320px) / (1920 - 320)));
    @include rmin(1920) {
      font-size: rem(30);
    }
  }
}
