<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section pt-20 pb-20">
    <div class="container">
      <div class="preview">
        <div class="preview__item preview__item--main">
          <div class="preview__info">
            <div class="preview__top">
              <h2 class="preview__title">
                Дополнительные<br>
                услуги и сервисы
              </h2>
              <p class="preview__text">
                <span>“Россети Центр” и “Россети Центр и Приволжье”</span> предлагают перечень дополнительных услуг в
                рамках обслуживания электросетевого хозяйства
              </p>
            </div>
            <div class="preview__content">
              <p class="preview__head">
                Основные показатели деятельности
              </p>
              <div class="preview__stats-block stats-block">
                <div class="stats-block__item">
                  <p class="stats-block__counter" data-num="20000">><span>20 000</span></p>
                  <p class="stats-block__text">
                    Выполнено договоров технологического<br>
                    присоединения под ключ для заявителей до 15 кв.
                  </p>
                </div>
                <div class="stats-block__item">
                  <p class="stats-block__counter" data-num="1000000">><span>1 000 000</span></p>
                  <p class="stats-block__text">
                    Общее количество<br>
                    обслуживаемых светоточек
                  </p>
                </div>
              </div>
              <div class="preview__list">
                <article class="article-preview active" data-tab="1">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-plug"></use>
                  </svg>
                  <h3 class="article-preview__title">Технологическое<br> присоединение под ключ</h3>
                </article>
                <article class="article-preview" data-tab="2">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-bulb-2"></use>
                  </svg>
                  <h3 class="article-preview__title">Наружное освещение</h3>
                </article>
                <article class="article-preview" data-tab="3">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-zap"></use>
                  </svg>
                  <h3 class="article-preview__title">Обслуживание и испытание<br> электрооборудования</h3>
                </article>
                <article class="article-preview" data-tab="4">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-check"></use>
                  </svg>
                  <h3 class="article-preview__title">Согласование проектной<br> документации</h3>
                </article>
                <article class="article-preview" data-tab="5">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-lorry-2"></use>
                  </svg>
                  <h3 class="article-preview__title">Аренда техники</h3>
                </article>
                <article class="article-preview" data-tab="6">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-tower"></use>
                  </svg>
                  <h3 class="article-preview__title">Строительство и реконструкция<br> электросетевых объектов</h3>
                </article>
                <article class="article-preview" data-tab="7">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-check"></use>
                  </svg>
                  <h3 class="article-preview__title">Услуги аналитики</h3>
                </article>
                <article class="article-preview" data-tab="8">
                  <svg class="article-preview__icon">
                    <use xlink:href="./assets/sprite.svg#icon-zap"></use>
                  </svg>
                  <h3 class="article-preview__title">Подвеска ВОЛС</h3>
                </article>
              </div>
            </div>
          </div>

          <div class="preview__detail">
            <div class="preview__slider active slider" data-slider-slides="1" data-slider-slides-tab="1" data-slider data-auto>
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <article class="article-slide">
                      <picture class="article-slide__picture">
                        <img src="./assets/images/slide-1.jpg" alt="">
                      </picture>
                      <div class="article-slide__info">
                        <h2 class="article-slide__title">Наши преимущества</h2>
                      </div>
                      <div class="article-slide__detail">
                        <p class="article-slide__head">
                          Качество выполнения
                        </p>
                        <p class="article-slide__text">
                          Мы выполняем работы с неизменно высоким качеством, чтобы Вы могли быть уверены в надежности
                          результата
                        </p>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-slide">
                      <picture class="article-slide__picture">
                        <img src="./assets/images/build.jpg" alt="">
                      </picture>
                      <div class="article-slide__info">
                        <h2 class="article-slide__title">Наши преимущества</h2>
                      </div>
                      <div class="article-slide__detail">
                        <p class="article-slide__head">
                          Качество выполнения
                        </p>
                        <p class="article-slide__text">
                          Мы выполняем работы с неизменно высоким качеством, чтобы Вы могли быть уверены в надежности
                          результата
                        </p>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="article-slide">
                      <picture class="article-slide__picture">
                        <img src="./assets/images/service.jpg" alt="">
                      </picture>
                      <div class="article-slide__info">
                        <h2 class="article-slide__title">Наши преимущества</h2>
                      </div>
                      <div class="article-slide__detail">
                        <p class="article-slide__head">
                          Качество выполнения
                        </p>
                        <p class="article-slide__text">
                          Мы выполняем работы с неизменно высоким качеством, чтобы Вы могли быть уверены в надежности
                          результата
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="slider__pagination" data-slider-pagination></div>
              </div>
            </div>
          </div>
        </div>
        <div class="preview__item" data-content="1">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Технологическое присоединение<br>
                «Под ключ» - просто и надежно
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
              <button class="preview__button preview__button--full" data-fancybox data-src="technical-request" data-type="inline">Рассчитать стоимость услуг</button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/tp_pod_kluch.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Подали заявку на технологическое присоединение на <a href="#">Портале ТП РФ</a></li>
              <li class="preview__element">2. Получили договор технологического присоединения</li>
              <li class="preview__element">3. Ознакомились с мероприятиями для выполнения с Вашей стороны</li>
              <li class="preview__element">4. Направили заявку на выполнение Ваших мероприятий по договору</li>
              <li class="preview__element">5. Качественно и быстро подключились к сетям</li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="2">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/outside_light.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="3">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/service.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="4">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/docs.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="5">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/vehicle.JPG" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="6">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/build.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="7">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/analytics.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
        <div class="preview__item" data-content="8">
          <div class="preview__info">
            <div class="preview__top">
              <div class="preview__back">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
                <span>Назад</span>
              </div>
              <h2 class="preview__title">
                Услуга организации наружного освещения
              </h2>
              <p class="preview__text">
                Комплекс работ по выполнению технических условий по договору<br>
                технологического присоединения на стороне клиента.
              </p>
            </div>
            <div class="preview__content">
              <div class="editor editor--preview">
                <h3>ПАО «Россети Центр», ПАО «Россети Центр» в рамках оказания услуги выполнит:</h3>
                <ul>
                  <li>- Монтаж провода ВЛ 0,38 кВ;</li>
                  <li>- Сборка/монтаж распределительного щита;</li>
                  <li>- Монтаж/испытание/измерение контура заземления;</li>
                  <li>- Установка одностоечной железобетонной опоры ВЛ 0,38 кВ.</li>
                </ul>
              </div>
            </div>
            <div class="preview__control">
              <a href="#" class="preview__button preview__button--blue" data-fancybox data-src="request" data-type="inline">Оформить заявку</a>
              <button class="preview__button" data-content-show-btn>
                Узнать про услугу
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-back"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview__detail">
            <picture class="preview__picture">
              <img src="./assets/images/vols.jpg" alt="">
            </picture>
            <ol class="preview__items" data-content-show>
              <li class="preview__element">1. Направили заявку на оказание услуги</li>
              <li class="preview__element">2. Заключили договор</li>
              <li class="preview__element">
                3. Получили качественно и быстро<br>
                выполненные работы по договору
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
